@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* banner Section */
* {
    margin: 0;
    padding: 0;
    font-family: 'merriweather', serif;
}

.banner-main-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

#banner {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    align-items: center;
    margin: 5% auto;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-container {
    background: linear-gradient(80deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    padding: 190px 0;
    border-radius: 16px;
}

/* discount-section */

#discount {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

.discount-heading {
    color: #F00;
    text-align: center;
    font-family: inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.discount-section {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.discount-images {
    width: 800px;
    height: 500px;
    margin-bottom: 120px;
}

/* Party Section */

#party {
    margin: 50px 50px;
}

.party-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
}

.party-wish {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    max-width: 642px;
    margin: 125px 125px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    max-width: 697px;
    margin-bottom: 50px;
    padding: 0 125px;
}

.button-1 {
    margin: 48px 100px 140px 160px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin-left: 125px;
    margin-bottom: 142px;
}

.party-section-2-image {
    margin: 60px 160px 60px auto;
}

/* Date & Time */
.place-description {
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    margin-bottom: 50px;
}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#place {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px 50px;
    text-align: center;
    border-radius: 16px;
}

.button-2 {
    border-radius: 8px;
    background: #F00;
    color: white;
    padding: 16px 32px;
}

/* Offer Section */
#offer {
    margin: 50px 50px;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.col-heading {
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
}

.offer-1 {
    flex: 1;
}

.offer-1-heading {
    color: #FF0000;
    font-family: Inter;
    font-size: 24px;
}

.offer-1-tittle {
    color: #070211;
    font-size: 48px;
}

.offer-1-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.offer-2 {
    width: 500px;
    border-radius: 50%;
    border: 15px solid #F00;
    flex: 1;
}

.offer-2-img {
    padding: 40px;
}

.offer-3 {
    flex: 1;
}

.offer-3-heading {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 16px;
}

.offer-3-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Function Section */
#function {
    margin: 50px 50px;
    width: 100%;
    height: 800px;
    background: #FFF;

}

.first-part {
    text-align: center;
}

.function-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 20px;
}

.function-heading {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;

}

.red-1 {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    margin-top: 30px;
}

.function-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 200px;
}

.image-container {
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
}

.overlay-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
}

.overlay-images {
    width: 33.33%;
    height: auto;
}

/* Portfolio section */
#portfolio {
    margin: 50px 50px;
}

.portfolio-heading-1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    margin-top: 120px;
}

.portfolio-heading-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    padding: 0 330px 20px 0;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-right: 420px;
    padding-bottom: 50px;
}

.image-1 {
    margin-bottom: 20px;
}

.portfolio-image {
    display: flex;
    gap: 24px;
    margin-top: ;
}